/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    margin: 0;
    padding: 0;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    text-shadow: 2px 2px 10px rgba(200,150,150,0.9)
}
.list {
    margin: auto;
}
.list li {
   display: inline;
   text-decoration: none;
   vertical-align: middle; 
   margin: 20px;
}
.myTitle {
    text-align: center;
    margin: auto;
    color: #000;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 2px 2px #fff;
}
.par {
    text-align: center;
    color: #f000;
    font-size: 20px;
}
.content {
    min-height: calc(100vh - 80px);
    background-color: rgba(109, 108, 108, 0.63);
    text-align: center;
    padding: 20px 20px 20px 0;
    border: 2px solid #191818;
}

body {
    padding: 30px;
    background: url(../Images/bg_repeat.jpg);
}

}
.Footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    text-shadow: 0px 0px 1px #fff;
}
.Footer p {
    display:block;
    justify-content:center;

}
.table{
    display:table-cell;
    text-align:left;
    width:20vw;
}
.table > p{
    margin:10px;
}
.table > h3 {
     margin: 20px 0 20px 0;
}
h1{
    margin:30px;
}
.filterBar{
    text-align:center;
    margin:5px;
    padding:5px;
}